.App {
  background-image: url('https://img.freepik.com/free-vector/gradient-tropical-sunset-background_52683-127897.jpg?w=1060&t=st=1695398664~exp=1695399264~hmac=9feda3feb30e79504a28d1cc3190d28be5a614ee4679eae1d592c7586e8332d0');
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100%;
}
